<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>论文列表</title>

</head>
<body>

    <a class = "form-txt" href="/edit" >修改用户</a>
    <a class = "form-txt" id = "logout" href="/logout">退出登录</a>
    <a class = "form-txt" href="/issue-add">添加论文</a>
    <table border="1">
        <tr>
            <th>论文名称</th>
            <th>已有文献数量</th>
            <th>创建时间</th>
            <th>修改时间</th>
            <th>更改名称</th>
            <th>删除论文</th>
        </tr>
        <!-- 使用Thymeleaf的循环来渲染表格行 -->
        <tr th:each="issue : ${issueList}">
            <td>
                <a th:href="@{/showIssue/{issueName}(issueName=${issue.name})}" th:text="${issue.name}"></a>
            </td>
            <td th:text="${issue.articleCount}"></td>

            <td th:text="${#dates.format(issue.createTime, 'yyyy-MM-dd')}"></td>
            <td th:text="${#dates.format(issue.modifiedTime, 'yyyy-MM-dd')}"></td>
            <td>
                <button th:attr="data-id=${issue.id}" class="edit-button">更改名称</button>
            </td>
            <td>
                <button th:attr="data-id=${issue.id}" class="delete-button">删除</button>
            </td>
        </tr>
    </table>
    <p>最近更新论文榜</p>
    <ul th:each="issue : ${session.issueRank}">
        <li th:text="${issue}"></li>
    </ul>

    <script>

        //完善更新功能
        $(document).ready(function () {
            $(".edit-button").on("click", function () {
                var issueId = $(this).data("id");

                // 执行Ajax请求
                $.post("/issue/edit",{"issueId":issueId},  // 后端处理请求的URL
                    function(result) {
                        console.log(result);
                        if (result.status===0){
                            window.location.href = "/"+result.msg;
                        }else{
                            alert(result.msg);
                        }
                    });
            });
        });

        $(document).ready(function () {
            $(".delete-button").on("click", function () {
                var issueId = $(this).data("id");

                // 执行Ajax请求
                $.get("/issue/delete/" + issueId,  // 后端处理请求的URL
                    function(result) {
                        console.log(result);
                        // 在成功回调函数中执行相应操作
                        // 例如：更新页面内容、弹出模态框等
                        if (result.status === 0){
                            alert("删除成功");
                        }else{
                            alert(result.msg);
                        }
                        location.reload();
                    });
            });
        });
    </script>
</body>
</html>